<!DOCTYPE html>
<html lang="en">
    
<%- include('./partials/head.ejs') %>

<body>
    <header>
        <%- include('./partials/nav.ejs') %>
    </header>
    <h1>404</h1>
    <p>Something going wrong...</p>
</body>
</html>