<!DOCTYPE html>
<html lang="en">
    
<%- include('./partials/head.ejs') %>

<body>
    <header>
        <%- include('./partials/nav.ejs') %>
    </header>
    <h1>Home page</h1>
    <p class="home__descr">
    All this Xcode -_- was generated on the server side on your own API
    <br>
    <br>
    Server-side code generation offers numerous benefits in software development. It enhances security, ensures
    cross-platform compatibility, simplifies updates, optimizes resource usage, protects intellectual property, facilitates
    scalable architecture, and streamlines testing processes.</p>
    <!-- <img src="/img/clientVsServer.jpg" alt="client vs server"> -->
    <img class="img" src="https://www.techyourchance.com/wp-content/uploads/2018/11/client-vs-server.jpg" alt="client vs server">
</body>
</html>